<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Tarefas APP</title>
    </head>
    <body>
        <h1>Pagina de cadastro de tarefas</h1>
        <form method="post">
            Nome da tarefa: <input type="text" name="nome" id="" />
            realizado: <input type="text" name="feito" id="" />
            
                        <button action="submit">Salvar</button> 

        </form>
    </body>
</html>